/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'MontserratLight';
  src: local('MontserratLight'), url(./fonts/Montserrat-ExtraLight.ttf) format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Medium.ttf) format('opentype');
}

body {
  position: relative;
  /* body for some rease has margin: 8px */
  height: calc(100vh - 16px);
  background-color: #102e4a;
  color: #ffffff;
  font-family: Montserrat, Helvetica, Helvetica Neue, serif;
}
